@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
body{
    font-size:15px;
    color:white;
}

/* container */
#container{
    display: flex;
    justify-content: center;
    width: 50%;
    margin:10% auto;
}



/*  items container */
.sedan{
    background-color: hsl(31, 77%, 52%);
    padding: 20px;
    height: 40vh;

    padding: 25px 35px;
    text-align: left;
    line-height: 1.5;
}


.suv{
    background-color: hsl(184, 100%, 22%);
    padding: 20px;
    height: 40vh;

    padding: 25px 35px;
    text-align: left;
    line-height: 1.5;
}

.luxury{
    background-color: hsl(179, 100%, 13%);
    padding: 20px;
    height: 40vh;

    padding: 25px 35px;
    text-align: left;
    line-height: 1.5;
}


/*  title */
.title{
    font-family: 'Lexend Deca', sans-serif;

}

/* text */
.text{
    width: 100%;
    max-width: 95%;
    text-align: left;
    font-size: 15px;

    margin: 30px 0 50px 0;
    color: var(--ver-light-gray);
    font-family: 'Lexend Deca', sans-serif;
}

/* butons */
.buttonContent button{
    text-align: center;
    padding:15px 25px;
    border:0;
    margin-top: -30px;
    border-radius: 30px;
}
.buttonOranged{
    background:white; 
    color: hsl(31, 77%, 52%); 
    border: 2px solid white;
}

.buttonBlue{
    background:white; 
    color: hsl(184, 100%, 22%); 
    border: 2px solid white;
}
.buttonGreen{
    background:white; 
    color: hsl(179, 100%, 13%); 
    border: 2px solid white;
}

.buttonContent button:hover{
    background-color: var(--Very-dark-cyan);
    color: var(--Very-light-gray);
    border:2px solid white;
}

.attribution{
    margin-top:-120px;
    display: flex;
    justify-content: center;
    
}
.attribution span{
    color:black;
    margin-left: 1rem;;
}
.attribution a{
    text-decoration: none;
}
/* media queries */